 /* Root Variables */
:root {
  --primary-color: #0077B6; /* deep blue */
  --secondary-color: #F1FAFF; /* soft white */
  --accent1-color: #2F5233; /* dark green */
  --accent2-color: #E76F51; /* warm orange */
  --heading-font: 'Bruno Ace SC', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --highlight-font: 'Roboto', sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
}

/* Layout Container */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 60px;
}

header nav a {
  margin-left: 16px;
  color: var(--accent2-color);
  text-decoration: none;
  font-weight: 600;
}

header nav a:hover {
  text-decoration: underline;
}

/* Typography */
h1, h2 {
  font-family: 'Bruno Ace SC', sans-serif;
  color: var(--primary-color);
  margin-bottom: 8px;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Hero Section */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  top: 120px;
  width: 100%
  left: 16px;
  right: 16px;
  background-color: var(--accent1-color);
  padding: 16px;
  border-radius: 8px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/* Section Images */
section img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-radius: 8px;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 16px;
  text-align: center;
}

footer nav.socialmedia {
  margin-top: 8px;
}

footer nav.socialmedia a {
  text-decoration: none;
  margin: 0 8px;
}

footer nav.socialmedia img {
  width: 32px;
  height: 32px;
}